---
Language:        Cpp
BasedOnStyle:    Google
IndentWidth:     4
AllowShortLambdasOnASingleLine: Empty
BinPackParameters: false
BinPackArguments: false
AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: AlwaysBreak
